<div class="section">
<% for (item of items) { %> 
    <div class="card">
        <div class="card-img">
            <img src=<%= item.file.data ? "data:image/" + item.file.contentType + ";base64," + item.file.data.toString('base64') : ""%>  alt="">
        </div>
        <div class="card-body <%= item.claimed && "claimed" %>">
            <h2><%= item.name %></h2>
            <% const date = new Date(item.date);%>
            <h3><%= (date.getMonth() + 1) + "/" + date.getDate() + "/" + date.getFullYear()%></h3>
            <p>ID: <%= item._id %></p>
            <% if (type === "admin") { %> 
            <% if(item.claimed) { %> 
                <p>Claimed by <%= item.claimer.name %>: <%= item.claimer.email %></p>
            <% } %> 
            <form action="/admin/delete" method="POST" ><button type="submit" class="btn btn-primary" name="id" value="<%= item._id %>">Delete</button></form>
            <% } else if (type === "student") { %> 
            <a href="/claim/<%= item._id %>"><button class="btn btn-primary">Claim</button></a>
            <% } %> 
        </div>
    </div>
<% } %> 
</div>