<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awesome Sauce</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="jumbotron">
        <h1>Database Testing</h1>
    </div> 
    <form action="/" method="POST">
        <div>
            <label for="name">Name</label>
            <input name="name" type="text" autocomplete="off" required="true">
        </div>
        <div>
            <label for="date">Date</label>
            <input name="date" type="date" required="true">
        </div>
        <div>
            <label for="url">URL</label>
            <input name="url" type="text" spellcheck="false" autocorrect="off" autocomplete="off" required="true">
        </div>
        <div>
            <label for="fileToUpload">File Upload</label>
            <input type="file" name="fileToUpload">
        </div>
        <button type="submit">Submit</button>
    </form>
    <div class="section">
        <% for (item of items) { %> 
            <form action="/delete" method="POST" class="card">
                <div>
                    <div class="card-img">
                        <img src="<%= item.url %>" alt="">
                    </div>
                    <div class="card-body">
                        <h2><%= item.name %></h2>
                        <% const date = new Date(item.date);%>
                        <h3><%= (date.getMonth() + 1) + "/" + date.getDate() + "/" + date.getFullYear()%></h3>
                        <p>ID: <%= item._id %></p>
                        <button type="submit" class="btn btn-primary" name="id" value="<%= item._id %>">Delete</button>
                    </div>
                </div>
            </form>
        <% } %> 
    </div>
</body>
</html>